.blog-link {
  display: block;
  margin: auto;
  text-align: center;
}

.link {
  display: block;
  margin: auto;
  border: 1px solid black;
  height: 20px;
  width: 200px;
  padding: 5px 10px 5px 10px;
}

h2 {
  font-family: arial;
  font-size: 17px;
  text-align: center;
}

h3 {
  font-size: 17px;
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
}

.position {
  font-family: monospace;
  border: none;
  color: #cc6666;
}

li {
  display: block;
  text-align: left;
  padding: none;
  position: static;
}


.absolute {
  position: absolute;
  border: 1px solid black;
  margin-bottom: 4px;
  padding: 5px 1px 5px 1px;
  margin-right: 350px;
}

.relative {
  position: relative;
  border: 1px solid black;
  margin-bottom: 4px;
  padding: 5px 1px 5px 1px;
  margin-right: 350px;
}

.static {
  position: static;
  border: 1px solid black;
  background: white;
  margin-bottom: 4px;
  padding: 5px 1px 5px 1px;
}


.fixed {
  position: fixed;
  border: 1px solid black;
  background: white;
  margin-bottom: 4px;
  padding: 5px 1px 5px 1px;
  bottom: 0;
  right: 0;
  width: 300px;
}



